<heder class="ct-mediaSection text-center ct-u-text--white" data-stellar-background-ratio="0.3" data-height="800" data-type="video" data-bg-image="assets/content/onepager-parallax.jpg" data-bg-image-mobile="assets/content/onepager-parallax.jpg">
  <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">
    <video id="video1" muted="" loop="" autoplay="autoplay" preload="auto">
      <!--<source src="/assets/377069193.mp4" type="video/mp4">-->
    </video>
  </div>
  <div class="ct-u-displayTable" style="height: 800px;">
      <div class="ct-mediaSection-inner">
        <div class="ct-headerText--normal">
          <div class="container">
            <img class="ct-u-marginBottom90 logo-circle" src="assets/content/full_logo.png" alt="">
            <h3 class="text-uppercase ct-fw-600 ct-u-marginBottom20 ct-u-letterSpacing10">- Your favourite salons at your fingertips -</h3>
            <% @treatments.each do |t|%>
              <a href="javascript:void(0);"><%= t.name%></a>
               <% end %>
          </div>
        </div>
      </div>
  </div>
</heder>
<%= render 'about'%>
<%= render 'portfolio'%>
<div class="section"></div>
<%= render 'testimonials'%>
<%= render 'partners'%>
<%= render 'latest_tweets'%>

