.white-form

  -#  = fields_for "item[]", item do |f|

  .row
  = simple_form_for(@item) do |f|
    = f.error_notification
    .row
      .col-md-6
        = f.input :prices, as: :text, input_html: {class: 'form-control input-lg'}
    .row
      .col-md-6
        = f.input :discount, as: :text, input_html: {class: 'form-control input-lg'}
    .row
      .col-md-6
        = f.input :description, as: :text, input_html: {class: 'form-control input-lg'}

    .form-actions
      = f.button :submit
