<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
  <meta charset="UTF-8">
  <meta name="description" content="Estato - Developers HTML Template">
  <meta name="author" content="CreateIT">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

  <title>Estato - Developers HTML Template</title>

  <link rel="icon" href="images/content/estato-favicon.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete', 'data-turbolinks-track' => true, defer: "defer" %>
  <%= csrf_meta_tags %>



  <!--[if lt IE 9]>
 <!--html5shiv.min.js"
 respond.min.js"
  <![endif]-->

</head>
<body class="ct-headroom--fixedMenu cssAnimate onepager">


<%= render 'layouts/menu_mobile'%>
<%= render 'layouts/search_form'%>




<div id="ct-js-wrapper" class="ct-pageWrapper">


  <%= render 'layouts/nav_bar_mobile'%>
  <%= render 'layouts/topbar'%>
  <%= render 'layouts/menu_desktop'%>


  <div id="home" class="section">
  <%= yield %>
  </div>

  <%= render 'layouts/footer'%>
</div>

</body>
</html>
